.env
.env.*
.env.example
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/
.DS_Store
.python-version
.hypothesis/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
htmlcov/
.coverage
*.log
dist/
build/
